<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBankTransactionService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57103/BankTransactionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBankTransactionService"
                contract="IBankTransactionService" name="BasicHttpBinding_IBankTransactionService" />
        </client>
    </system.serviceModel>
</configuration>